<div class='row justify-content-center'>
  <h1 class='typography-display-3 text-center'>Log in</h1>
</div>
<div class='row justify-content-center'>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group" style="width: 70rem;">
    <%= f.input :email,
    required: false,
    autofocus: true,
    input_html: { autocomplete: "email", class: 'form-control' } %>
    <%= f.input :password,
    required: false,
    input_html: { autocomplete: "current-password", class: 'form-control' } %>
    <%= f.input :remember_me, as: :boolean, class: 'form-check-input' if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
  <% end %>
</div>
<div class='row justify-content-center'>
  <%= render "users/shared/links" %>
</div>
