<div class="form-group">
  <%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

    <ul>
      <% picture.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, class: 'form-control' %>
  </div>

  <% @tags.each do |t| %>
  <div class="form-check">
    <%= form.label t.name, class: 'form-check-label' %>
    <%= form.check_box "tags[#{t.name}]", class: 'form-check-input',style: 'margin-left: 0rem' %>
  </div>
  <% end %>


  <div class="field">
    <%= form.label "picture" %>
    <%= form.file_field :picture, class: 'form-control-file' %>
  </div>

  <div class="actions justify-content-center">
    <%= form.submit 'Submit',class: 'btn btn-block' %>
  </div>
  <% end %>
</div>