<!DOCTYPE html>
<html>
<head>
  <title>FlickrRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"> FlickrRails </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories">
            Tags
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/pictures">
            Pictures
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Top Trending
          </a>
        </li>
      </ul>
      <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'My Profile', edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'nav-link' %>
        </li>
      </ul>
      <% else %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%=new_user_registration_path %>">
            Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=new_user_session_path %>">
            Sign in
          </a>
        </li>
      </ul>
      <% end %>
      <form class="form-inline my-2 my-lg-0" action="/home" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <%= yield %>

</body>
</html>
